[Unit]
Description=Setups the direct local network
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-network.sh

[Install]
WantedBy=multi-user.target
