[Match]
Name=par

[Network]
LinkLocalAddressing=ipv6
Address=10.42.42.1/32
ConfigureWithoutCarrier=yes

[Route]
Destination=10.42.42.3
Gateway=0.0.0.0
